name: C/C++ CI

on:
  push:
    paths:
    - cmake/*
    - src/**
    - unittests/**
    - '**/CMakeLists.txt'
    - CMakeLists.txt
    - '!**/*.txt'
    - '!src/skins/*'
    - '!src/utils/amps/**'
    - '!src/utils/scripts/**'
    - '!src/utils/xas/**'
    - '!src/webserver/default/**'
  pull_request:
    paths:
    - cmake/*
    - src/**
    - unittests/**
    - '**/CMakeLists.txt'
    - CMakeLists.txt
    - '!**/*.txt'
    - '!src/skins/*'
    - '!src/utils/amps/**'
    - '!src/utils/scripts/**'
    - '!src/utils/xas/**'
    - '!src/webserver/default/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install deps
      run: sudo apt-get install debhelper libglib2.0-dev zlib1g-dev libwxgtk3.0-gtk3-dev libgd-dev libcrypto++-dev libreadline-dev libgeoip-dev libupnp-dev binutils-dev gettext libasio-dev cmake
    - name: configure
      run: cmake -DBUILD_EVERYTHING=ON -S. -B build
    - name: build
      run: cmake --build -B build
    - name: check
      run: cd build && ctest
