name: C/C++ CI

on:
  push:
    paths:
    - m4/*
    - src/**
    - unittests/**
    - '**/*.am'
    - acinclude.m4
    - configure.ac
    - '!**/*.txt'
    - '!src/skins/*'
    - '!src/utils/amps/**'
    - '!src/utils/scripts/**'
    - '!src/utils/xas/**'
    - '!src/webserver/default/**'
  pull_request:
    paths:
    - automake/*
    - m4/*
    - src/**
    - unittests/**
    - '**/*.am'
    - acinclude.m4
    - configure.ac
    - '!**/*.txt'
    - '!src/skins/*'
    - '!src/utils/amps/**'
    - '!src/utils/scripts/**'
    - '!src/utils/xas/**'
    - '!src/webserver/default/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install deps
      run: sudo apt-get install autopoint
    - name: autogen
      run: ./autogen.sh
    - name: install build deps
      run: sudo apt-get install debhelper libglib2.0-dev zlib1g-dev libwxgtk3.0-gtk3-dev libgd-dev libcrypto++-dev libreadline-dev libgeoip-dev libupnp-dev binutils-dev gettext libasio-dev autoconf
    - name: configure
      run: ./configure --enable-wxcas --enable-cas --enable-webserver --enable-amule-gui --enable-amule-daemon --enable-alcc --enable-alc --enable-amulecmd --enable-geoip --with-boost
    - name: make
      run: make
    - name: make check
      run: make check
